<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monster</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns text-center">
            <h1 class="text-center">YOU</h1>
            <img src="img/me.jpg" alt="" style="width: 60%;height: 300px">
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: red; margin: 0; color: white;" :style="{width: playerHealth +'%'}">
                        {{playerHealth}}
                </div>
            </div>
        </div>
        <div class="small-6 columns text-center">
            <h1 class="text-center">MONSTER</h1>
            <img src="img/meo.png" alt="" style="width: 60%;height: 300px">
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: red; margin: 0; color: white;" :style="{width: monsterHealth +'%'}">
                        {{monsterHealth}}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <button id="start-game" @click="startNewGame" >START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal"  @click="health">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
            <ul class="list-group">
                    <li v-for="turn in turns" :class="{'player-turn' : turn.isPlayer ,'monster-turn' : !turn.isPlayer}">
                        {{turn.textLog}}
                    </li>
            </ul>
        </div>
    </section>

</div>
<script src="app.js"></script>
</body>
</html>